*
{
	margin: 0px;
	padding: 0px;
}

html
{
	scroll-behavior: smooth;
}

/*nav bar*/
#nav-bar
{
	position: sticky;
	top: 0px;
	z-index:10;
	background-color: white;
}
.navbar-brand img
{
	height: 40px;
	padding-left:30px;
}
.navbar-nav li
{
	padding:0px 10px;
}
.navbar-nav li a
{
	float: right;
	text-align: left;
}
#nav-bar ul li a:hover
{
	color:#007bff!important;
}
.navbar
{
	background:fff;
}
.navbar-toggler
{
	border:none!important;
}
.nav-link
{
	color: #555!important;
	font-weight:600px;
	font-size: 16px;
}

/*slider */

#slider 
{
	width:100%;
}
.carousel-caption
{
	top:50%;
	transform: translateY(-50%);
	bottom:initial!important;
}
.carousel-caption h5
{
	color:#fff;
	font-size: 30px;
}

/*-------------------------------------------------about----------------------------------------*/
#about
{
	padding-top: 80px;
	padding-bottom: 50px;
	color:#555;
}
#about h2
{
	text-align: center;
	padding-bottom: 50px;
}

#about h2::after
{
	
content: '';
	background: #007bff;
	display: block;
	height: 3px;
	width:200px;
	margin:20px auto 5px;
}

#about .btn
{
	border:none;
	outline: none;
	background-color: #007bff;
	margin-top: 20px;
	margin-bottom: 30px;
	color:#fff;
	width:290px;
}
#about .btn:hover
{
	box-shadow: 5px 5px 5px grey;
}
.about-content
{
	padding-top:20px;

}
.skills-bar p
{
   margin-top: 6px;
   font-weight: 600px;
}
.skills-bar 
{
  border-radius: 16px;
}
.skills-bar .progress
{
	border-radius: 16px !important;
	margin-bottom: 20px;

}
.myImage img
{
	border-radius: 50%;
}
/*---------service-----------*/

#service
{
	background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(images/3.jpg);
	background-size: cover;
	background-position: center;
	padding-top: 80px;
	padding-bottom: 50px;
}
#service h1
{
	color:#efefef!important;
	text-align: center;
	padding-bottom: 10px;

}
#service h1::after
{
	content: '';
	background:white;
	display: block;
	height: 3px;
	width: 200px;
	margin:20px auto 5px;
}
.servicetext
{
   color:white;

}
.services
{
	margin-top: 40px;
}
.icon
{
	font-size: 40px;
	margin:20px auto;
	padding:20px;
	height: 100px;
	width: 100px;
	border:1px solid #fff;
	border-radius: 50%;
	color: white;
}
#services p
{
	margin-top: 10px;
	font-size:14px;
	color:#ccc;

}

.services .col-md-3:hover
{
   background-color:#007bff;
   cursor: pointer;
   transition: 0.7s;
}

/*------------------------------------------my-work------------------------------------------*/

#my-work
{
	padding-top:100px;
	padding-bottom: 100px;
	color:#555;
}
#my-work h1
{
	text-align:center;
	color:#555!important;
	padding-bottom: 10px;
}
#my-work h1::after
{
	content: '';
	background: #007bff;
	display: block;
	height: 3px;
	width:350px;
	margin:20px auto 5px;
}
.work-box .text h3
{
  padding-top: 50px;
}
.work-box .text p
{
  padding-top: 20px;
}
.work-box .text a
{
  padding-top: 20px;
  display: block;
}


.works .col-md-3:hover
{
   background-color:#007bff;
   cursor: pointer;
   transition: 0.7s;
   color:#fff;

}
/*--------------------------------contact button*------------------------------*/
#contactButton
{
   background-color:#007bff;
   color:#fff;
   border:none;
   outline:none;
   padding:10px;
   margin-top: 20px;
   margin-bottom: 20px;
   width: 100%;
   border-radius: 10px;
   box-shadow: 5px 5px 5px grey;
}
#contactButton:hover
{
	background-color: green;

}

/*-------------------------------------hire me ---------------------------------------------------*/

#hire-me
{
	background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(images/3.jpg);
	background-size: cover;
	background-position: center;
	padding-top: 80px;
	padding-bottom: 50px;
}
#hire-me p
{
	color: #fff;
	text-align: center;
}
#hire-me button
{
	position: relative;
	left: 47%;
}

/*-----------------------------footer------------------------------*/
#footer
{
	padding-top: 20px;
	background-color: black;
	color: white;
	padding-bottom: 20px;
}
#footer p
{
	text-align: center;
}
